@model ManageAssets.Models.Sys_Account
@*@using ERPVN.Domain.Resources*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login Page</title>

    <meta name="description" content="ERPVN">
    <meta name="author" content="Khi Dau Vong">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <!-- Metis core stylesheet -->
    <link href="~/Content/Css/main.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="login">

    <div class="form-signin">
        <div class="text-center">
            <img src="~/Images/logo.png" alt="Metis Logo">
        </div>
        <hr>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                @*Form Login*@
                @using (Html.BeginForm("Login", "Sys_Login"))
                {
                    <p class="text-muted text-center">
                        @*@Global.login_comment*@
                    </p>
                    @Html.TextBoxFor(m => m.Username, null, new
               {
                   @class = "form-control top",
                   @placeholder = @Html.Name("UserName"@*Global.username*@)
               })
                    @Html.PasswordFor(m => m.Password, new
               {
                   @class = "form-control bottom",
                   @placeholder = @Html.Name("Password"@*Global.password*@)
               })
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> @*@Global.remember_me*@
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                }
            </div>
            <div id="forgot" class="tab-pane">
                <form action="index.html">
                    <p class="text-muted text-center">Enter your valid e-mail</p>
                    <input type="email" placeholder="mail@domain.com" class="form-control">
                    <br>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Recover Password</button>
                </form>
            </div>
            <div id="signup" class="tab-pane">
                <form action="index.html">
                    <input type="text" placeholder="username" class="form-control top">
                    <input type="email" placeholder="mail@domain.com" class="form-control middle">
                    <input type="password" placeholder="password" class="form-control middle">
                    <input type="password" placeholder="re-password" class="form-control bottom">
                    <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="text-center">
            @*@Html.ActionLink("English", "Change", "Sys_Login", new { LanguageAbbrevation = "en" }, null)
                @Html.ActionLink("Tiếng Việt", "Change", "Sys_Login", new { LanguageAbbrevation = "vi" }, null)
                @Html.ActionLink("中文", "Change", "Sys_Login", new { LanguageAbbrevation = "zh" }, null)*@
            @Html.ActionLink("English", "SetCulture", "Sys_Login", new { culture = "en" }, null)
            @Html.ActionLink("Tiếng Việt", "SetCulture", "Sys_Login", new { culture = "vi" }, null)
            @Html.ActionLink("中文", "SetCulture", "Sys_Login", new { culture = "zh-CN" }, null)

            <ul class="list-inline">
                <li><a class="text-muted" href="#login" data-toggle="tab">Sign in</a></li>
                <li><a class="text-muted" href="#forgot" data-toggle="tab">Forgot Pass</a></li>
                @*<li><a class="text-muted" href="#signup" data-toggle="tab">Signup</a></li>*@
            </ul>
        </div>
    </div>
</body>

</html>