@model IEnumerable<ManageAssets.Models.Sys_GroupPermision>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Reports_LayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupID)
        </td>
        <td>
            @Html.ActionLink("Edit Permission", "Edit", new { id=item.GroupID })
            @*| @Html.ActionLink("Details", "Details", new { id=item.GroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupID })*@
        </td>
    </tr>
}

</table>
