@model IEnumerable<ManageAssets.Models.PAYMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billing_period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units_used)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title_VN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title_CN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content_VN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content_CN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Units_used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title_VN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title_CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_VN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Payment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Payment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Payment_ID })
        </td>
    </tr>
}

</table>
