@model IEnumerable<ManageAssets.Models.PAYMENT>
@using ManageAssets.Resources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Global.Payment_ID)
        </th>
        <th>
            @Html.DisplayName(Global.Payment_Date)
        </th>
        <th>
            @Html.DisplayName(Global.username)
        </th>
        <th>
            @Html.DisplayName(Global.DEPT_ID)
        </th>
        <th>
            @Html.DisplayName(Global.Supplier_ID)
        </th>
        <th>
            @Html.DisplayName(Global.payment_brand)
        </th>
        <th>
            @Html.DisplayName(Global.Invoice_Date)
        </th>
        <th>
            @Html.DisplayName(Global.Billing_period)
        </th>
        <th>
            @Html.DisplayName(Global.Payment_method)
        </th>
        <th>
            @Html.DisplayName(Global.Units_used)
        </th>
        <th>
            @Html.DisplayName(Global.Title_VN)
        </th>
        <th>
            @Html.DisplayName(Global.Title_CN)
        </th>
        <th>
            @Html.DisplayName(Global.Content_VN)
        </th>
        <th>
            @Html.DisplayName(Global.Content_CN)
        </th>
        <th>
            @Html.DisplayName(Global.Price)
        </th>
        <th>
            @Html.DisplayName(Global.VAT)
        </th>
        <th>
            @Html.DisplayName(Global.Amount)
        </th>
        <th>
            @Html.DisplayName(Global.Currency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    //CTR+J open suggestion
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sys_Account.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT.DEPT_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPPLIER.SUPPLIER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Brand1.Payment_Brand_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Units_used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title_VN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title_CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_VN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Payment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Payment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Payment_ID })
        </td>
    </tr>
}

</table>
